@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> Bir hata oluştu</h2>
<div class="text-center lead">
    Aradığınız sayfa bulunamadı <a asp-action="Index">Anasayfaya dön</a>
</div>